/* container */
.button_div{
    width:500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    background-color: darkorchid;
    
}
/* button */
button{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    background-color: red;
    font-size: 40px;
    
}
button:hover{
    background-color: green;
}